<section class="th-hero-wrapper hero-4" id="hero">
    <div class="hero-slider-4 th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1">
        <div class="th-hero-slide">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="hero-style4"><span class="sub-title" data-ani="slideindown"
                                data-ani-delay="0.1s">Bem-vindo ao Salão de Beleza</span> <span class="hero-sub-img"
                                data-ani="slideindown" data-ani-delay="0.2s"><!-- <img
                                    src="assets/img/theme-img/title_shape_1.svg" alt=""> --></span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">Abrace a Beleza
                                <span class="text-theme">Encantadora</span> <span class="" data-ani="slideindown"
                                    data-ani-delay="0.4s">no Nosso </span><span class="text-theme"
                                    data-ani="slideindown" data-ani-delay="0.5s">Salão</span>
                            </h1>
                            <div class="hero-big" data-ani="slideinup" data-ani-delay="0.6s">
                                <!--                                 <h1 class="hero-big_text">Beleza</h1>
 -->
                            </div>
                            <div class="btn-group justify-content-center justify-content-lg-start" data-ani="slideinup"
                                data-ani-delay="0.7s"><a class="th-btn">Agende Agora<i
                                        class="fa-regular fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="th-hero-img" data-ani="slideinright" data-ani-delay="0.1s"><img
                                src="assets/img/hero/hero_bg_4_3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th-hero-slide">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="hero-style4"><span class="sub-title" data-ani="slideindown"
                                data-ani-delay="0.1s">Desvendando a Magia Interior</span> <span class="hero-sub-img"
                                data-ani="slideindown" data-ani-delay="0.2s"><!-- <img
                                    src="assets/img/theme-img/title_shape_1.svg" alt=""> --></span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">Um salão de beleza com
                                <span class="text-theme">várias opções</span> <span class="" data-ani="slideindown"
                                    data-ani-delay="0.4s">de serviços</span> <span class="text-theme"
                                    data-ani="slideindown" data-ani-delay="0.5s">cosméticos</span>
                            </h1>
                            <div class="hero-big" data-ani="slideinup" data-ani-delay="0.6s">
                                <!--                                 <h1 class="hero-big_text">Beleza</h1>
 -->
                            </div>
                            <div class="btn-group justify-content-center justify-content-lg-start" data-ani="slideinup"
                                data-ani-delay="0.7s"><a class="th-btn">Agende Agora<i
                                        class="fa-regular fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="th-hero-img" data-ani="slideinright" data-ani-delay="0.1s"><img
                                src="assets/img/hero/hero_bg_4_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th-hero-slide">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="hero-style4"><span class="sub-title" data-ani="slideindown"
                                data-ani-delay="0.1s">Beleza Encontra Brilho</span> <span class="hero-sub-img"
                                data-ani="slideindown" data-ani-delay="0.2s"><!-- <img
                                    src="assets/img/theme-img/title_shape_1.svg" alt=""> --></span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.3s">Transformando
                                <span class="text-theme">aparências</span>, <span class="" data-ani="slideindown"
                                    data-ani-delay="0.4s">empoderando</span> <span class="text-theme"
                                    data-ani="slideindown" data-ani-delay="0.5s">almas.</span>
                            </h1>
                            <div class="hero-big" data-ani="slideinup" data-ani-delay="0.6s">
                                <!--                                 <h1 class="hero-big_text">Beleza</h1>
 -->
                            </div>
                            <div class="btn-group justify-content-center justify-content-lg-start" data-ani="slideinup"
                                data-ani-delay="0.7s"><a class="th-btn">Agende Agora<i
                                        class="fa-regular fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="th-hero-img" data-ani="slideinright" data-ani-delay="0.1s"><img
                                src="assets/img/hero/hero_bg_4_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup d-none d-xxl-block movingX" data-top="13.5%" data-left="36%"><img
            src="assets/img/shape/flower_2_1.png" alt="shape"></div>
    <div class="shape-mockup d-none d-xxl-block spin" data-bottom="25%" data-left="10%"><img
            src="assets/img/shape/flower_2_2.png" alt="shape"></div>
    <div class="shape-mockup d-none d-xxl-block spin" data-bottom="30%" data-left="45%"><img
            src="assets/img/shape/flower_2_3.png" alt="shape"></div>
    <div class="shape-mockup d-none d-xxl-block spin" data-top="30%" data-right="3%"><img
            src="assets/img/shape/flower_2_4.png" alt="shape"></div>
    <div class="shape-mockup d-none d-xxl-block spin" data-top="20%" data-left="8%"><img
            src="assets/img/shape/flower_2_5.png" alt="shape"></div>
    <!--  <div class="shape-mockup d-none d-xxl-block movingX" data-bottom="0%" data-left="30%"><img
            src="assets/img/shape/leaves_2_2.png" alt="shape"></div>
    <div class="shape-mockup d-none d-xxl-block jump" data-top="30%" data-left="0%"><img
            src="assets/img/shape/leaves_2_3.png" alt="shape"></div> -->
    <div class="shape-mockup" data-bottom="0%" data-left="0%"><img src="assets/img/hero/hero_shape_1.png" alt="shape">
    </div>
    <!-- <div class="shape-mockup" data-bottom="0%" data-left="0%"><img src="assets/img/shape/leaves_2_4.png"
            alt="shape"></div> -->
</section>

<div class="about-sec overflow-hidden space-top" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box5">
                    <div class="img1 wow fadeInLeft"><img class="tilt-active" src="assets/img/normal/about_4_1.jpg"
                            alt="About"></div>
                    <div class="img2 wow fadeInUp"><img class="tilt-active" src="assets/img/normal/about_4_2.jpg"
                            alt="About"></div>
<!--                     <div class="img3 movingX"><img src="assets/img/shape/flower_1_14.png" alt="About"></div>
 -->                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xl-5 wow fadeInRight">
                    <div class="title-area mb-25"><span class="sub-title">Sobre Trina<img
                                src="assets/img/theme-img/title_right.svg" alt=""></span>
                        <h2 class="sec-title mb-20">Trina  <span class="text-theme">Lashdesigner y Educadora</span> </h2>
                        <p class="mb-40">
                            Sou Trina, especialista em extensão de cílios e criadora digital. Com anos de experiência em
                            design de cílios, me dedico a realçar a beleza de minhas clientes, ao mesmo tempo que
                            compartilho meu conhecimento através de treinamentos práticos e personalizados. Minha missão
                            é oferecer serviços de alta qualidade e formar novos profissionais na arte dos cílios.</p>
                    </div>
                    <div class="journey-wrap">
                        <div class="journey-image"><img src="assets/img/normal/about_4_3.jpg" alt=""></div>
                        <div class="checklist">
                            <ul>
                                <li>Especialista em Extensões de Pestanas</li>
                                <li>Curso Iniciante "Arte nas Pestanas"</li>
                                <li>Formações e marcações</li>
                            </ul>
                        </div>
                    </div><a class="th-btn">Quer um atendimento personalizado?<i class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup jump d-none d-lg-block" data-top="10%" data-right="0%"><img
            src="assets/img/shape/leaves_2_2.png" alt="shape"></div>
</div>
<!-- <div class="counter-area overflow-hidden space-top" data-pos-for=".service-area2" data-sec-pos="bottom-half">
    <div class="container th-container">
        <div class="counter-sec style4 space-top">
            <div class="th-counterup wow fadeInLeft">
                <div class="inner">
                    <div class="icon"><img src="assets/img/icon/counter_1_1.svg" alt=""></div>
                    <div class="content">
                        <h3 class="counter"><span class="odometer" data-count="26">00</span> <span
                                class="counter-number">+</span></h3>
                        <p class="counter-card_text">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="th-counterup wow fadeInLeft">
                <div class="inner">
                    <div class="icon"><img src="assets/img/icon/counter_1_2.svg" alt=""></div>
                    <div class="content">
                        <h3 class="counter"><span class="odometer" data-count="100">00</span> <span
                                class="counter-number">%</span></h3>
                        <p class="counter-card_text">Natural Products</p>
                    </div>
                </div>
            </div>
            <div class="th-counterup wow fadeInLeft">
                <div class="inner">
                    <div class="icon"><img src="assets/img/icon/counter_1_3.svg" alt=""></div>
                    <div class="content">
                        <h3 class="counter"><span class="odometer" data-count="56">00</span> <span
                                class="counter-number">k+</span></h3>
                        <p class="counter-card_text">Satisfied Clients</p>
                    </div>
                </div>
            </div>
            <div class="th-counterup wow fadeInLeft">
                <div class="inner">
                    <div class="icon"><img src="assets/img/icon/counter_1_4.svg" alt=""></div>
                    <div class="content">
                        <h3 class="counter"><span class="odometer" data-count="36">00</span> <span
                                class="counter-number">+</span></h3>
                        <p class="counter-card_text">Specialists Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section class="service-area2 overflow-hidden space" data-bg-src="assets/img/bg/service_bg_1.jpg" id="service-sec">
    <div class="container">
        <div class="row">
            <div class="title-area text-center mb-25"><span class="sub-title style2">Serviços em trina Lashdesigner</span> <img
                    src="assets/img/theme-img/title_shape_3.svg" alt="">
                <h2 class="sec-title">Nossos serviços  <span class="text-theme">de cuidados de beleza</span> </h2>
            </div>
        </div>
        <div class="row slider-shadow th-carousel" id="serviceSlide1" data-slide-show="3" data-lg-slide-show="2"
            data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_overlay" data-bg-src="assets/img/shape/service_shape2.png"></div>
                    <div class="service-card_img"><img src="assets/img/icon/service_4_1.svg" alt="">
                        <div class="service-card_overlay2" data-bg-src="assets/img/shape/ser_shape.png"></div>
                    </div>
                    <div class="service-card_icon"><i class="fa-light fa-arrow-up-right"></i></div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Modern Beauty</a></h3>
                        <p class="service-card_text">Our beauty salon offers a wide range of services to cater to
                            your beauty needs from head to toe. Treat your tresses to a stylish haircut</p><a
                            href="service-details.html" class="th-btn style2">Book Now<i
                                class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_overlay" data-bg-src="assets/img/shape/service_shape2.png"></div>
                    <div class="service-card_img"><img src="assets/img/icon/service_4_2.svg" alt="">
                        <div class="service-card_overlay2" data-bg-src="assets/img/shape/ser_shape.png"></div>
                    </div>
                    <div class="service-card_icon"><i class="fa-light fa-arrow-up-right"></i></div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Facial Treatments</a></h3>
                        <p class="service-card_text">Our beauty salon is a haven of elegance and expertise, where we
                            are committed to helping you look and feel your best. and focus on hygiene.</p><a
                            href="service-details.html" class="th-btn style2">Book Now<i
                                class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_overlay" data-bg-src="assets/img/shape/service_shape2.png"></div>
                    <div class="service-card_img"><img src="assets/img/icon/service_4_3.svg" alt="">
                        <div class="service-card_overlay2" data-bg-src="assets/img/shape/ser_shape.png"></div>
                    </div>
                    <div class="service-card_icon"><i class="fa-light fa-arrow-up-right"></i></div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Body Waxing</a></h3>
                        <p class="service-card_text">Our comfortable seating areas and soothing music create an
                            environment of tranquility, ensuring you have a blissful experience during your visit.
                        </p><a href="service-details.html" class="th-btn style2">Book Now<i
                                class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="service-card">
                    <div class="service-card_overlay" data-bg-src="assets/img/shape/service_shape2.png"></div>
                    <div class="service-card_img"><img src="assets/img/icon/service_4_4.svg" alt="">
                        <div class="service-card_overlay2" data-bg-src="assets/img/shape/ser_shape.png"></div>
                    </div>
                    <div class="service-card_icon"><i class="fa-light fa-arrow-up-right"></i></div>
                    <div class="service-card-content">
                        <h3 class="box-title"><a href="service-details.html">Oil Therapy,</a></h3>
                        <p class="service-card_text">Oil therapy, also known as oil pulling or oil swishing, is an
                            ancient Ayurvedic practice that involves swishing oil around in the mouth to promote
                            oral health.</p><a href="service-details.html" class="th-btn style2">Book Now<i
                                class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-50"><span class="service-btn">You Get More Services <a class="line-btn"
                    href="service-details.html">Explore Now<i class="fa-regular fa-arrow-right"></i></a></span>
        </div>
    </div>
    <div class="shape-mockup shape-wrapp jump d-none d-xxl-block" data-bottom="5%" data-left="0%"><img
            src="assets/img/shape/leaves_2_3.png" alt="shape"></div>
</section>
<div class="choose-sec-2 overflow-hidden space">
    <div class="container">
        <div class="title-area text-lg-center"><span class="sub-title">Por que nos escolher?

            </span> <img
                src="assets/img/theme-img/title_shape_1.svg" alt="">
            <h2 class="sec-title mb-20">Cursos <span class="text-theme">Transforme sua paixão em profissão com nossos cursos de design de cílios</span>
            </h2>
        </div>
        <div class="row gy-4 justify-content-center align-items-center">
            <div class="col-lg-6 col-xl-4">
                <div class="choose-content">
                    <h3 class="sec-title mb-15">Get Beauty Treatments Here Now</h3>
                    <p>We have carefully designed our salon to provide a relaxing and welcoming atmosphere for our
                        clients. As soon as you step through our door, you'll be greeted with a warm.</p>
                    <p>Friendly ambiance that allows you to unwind and escape from the hustle and bustle of daily
                        life. Your health & safety are of the utmost importance to us. and focus on hygiene.</p><a
                        href="contact.html" class="th-btn mt-10">Book Now<i
                            class="fa-regular fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="choose-slide-image">
                    <div class="img background-img" data-bg-src="assets/img/normal/choose_1.jpg"></div>
                    <div class="img foreground-img" data-bg-src="assets/img/normal/choose_2.jpg"></div><input
                        type="range" min="1" max="100" value="50" class="slider" name="slider" id="slider">
                    <div class="slider-button"></div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row price-slide" id="priceSlide">
                    <div class="col-lg-12">
                        <div class="price-slide">
                            <div class="price-item">
                                <div class="price-item-content">
                                    <h3 class="box-title">Hair Treatments</h3>
                                    <p class="price-item_text">Your health and safety are of the utmost importance
                                        to us.</p>
                                </div>
                                <div class="price"><span class="price-item_price">125.00 <a href="price.html"
                                            class="th-btn style2">Book Now</a></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="price-slide">
                            <div class="price-item">
                                <div class="price-item-content">
                                    <h3 class="box-title">Skin Care & Facial</h3>
                                    <p class="price-item_text">Your health and safety are of the utmost importance
                                        to us.</p>
                                </div>
                                <div class="price"><span class="price-item_price">225.00 <a href="price.html"
                                            class="th-btn style2">Book Now</a></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="price-slide">
                            <div class="price-item">
                                <div class="price-item-content">
                                    <h3 class="box-title">Ultra Glow Therapy</h3>
                                    <p class="price-item_text">Your health and safety are of the utmost importance
                                        to us.</p>
                                </div>
                                <div class="price"><span class="price-item_price">325.00 <a href="price.html"
                                            class="th-btn style2">Book Now</a></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="price-slide">
                            <div class="price-item">
                                <div class="price-item-content">
                                    <h3 class="box-title">Beauty Treatments</h3>
                                    <p class="price-item_text">Your health and safety are of the utmost importance
                                        to us.</p>
                                </div>
                                <div class="price"><span class="price-item_price">325.00 <a href="price.html"
                                            class="th-btn style2">Book Now</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-item"><button data-slick-prev="#priceSlide" class="price-icon default"><i
                            class="fa-solid fa-angle-down"></i></button></div>
            </div>
        </div>
    </div>
    <!-- <div class="shape-mockup movingX d-none d-xl-block" data-top="10%" data-right="5%"><img
            src="assets/img/shape/flower_1_13.png" alt="shape"></div> -->
    <div class="shape-mockup d-none d-xl-block" data-bottom="0%" data-left="0%"><img
            src="assets/img/shape/flower_1_15.png" alt="shape"></div>
</div>
<div class="space" id="contact-sec">
    <div class="container">
        <div class="row gy-40">
            <div class="col-lg-6 col-xl-5">
                <div class="contact-info-wrap me-xl-4">
                    <div class="title-area mb-20">
                        <h3 class="sec-title">Nossas informações de contato</h3>
                        <p>Have a inquiry or some feedback for us? Fill out the form below to contact our team.</p>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon"><i class="fa-light fa-location-dot"></i></div>
                        <div class="media-body">
                            <h3 class="box-title">Our Address</h3><span class="contact-info_text">2690 Hiltona
                                Street Victoria Road New York, Canada</span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon"><i class="fa-light fa-phone"></i></div>
                        <div class="media-body">
                            <h3 class="box-title">Phone Number</h3><span class="contact-info_text">Mobile: <a
                                    href="tel:+256214203215">+256 214 203 215 </a></span><span
                                class="contact-info_text">Email: <a
                                    href="mailto:imagen.cabeleireiro&#64;gmail.com">imagen.cabeleireiro&#64;gmail.com</a></span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon"><i class="fa-light fa-clock"></i></div>
                        <div class="media-body">
                            <h3 class="box-title">Hours of Operation</h3><span class="contact-info_text">Monday -
                                Friday: 9AM - 8PM Sunday - Saturday: 10AM - 6PM</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="map-sec"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sAngfuzsoft!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd"
                        allowfullscreen="" loading="lazy"></iframe></div>
            </div>
        </div>
       <!--  <div class="row">
            <div class="col-12">
                <div class="contact-form-wrapper">
                    <form action="https://html.themeholy.com/rasm/demo/mail.php" method="POST"
                        class="contact-form ajax-contact">
                        <h2 class="form-title text-center">Get In Touch</h2>
                        <div class="row">
                            <div class="form-group col-md-6"><i class="fa-sharp fa-light fa-user"></i> <input
                                    type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-6"><i class="fa-sharp fa-regular fa-envelope"></i> <input
                                    type="email" class="form-control" name="email" id="email"
                                    placeholder="Email Address"></div>
                            <div class="form-group col-md-6"><input type="tel" class="form-control" name="number"
                                    id="number" placeholder="Phone Number"> <i class="fal fa-phone"></i></div>
                            <div class="form-group col-md-6"><i class="fa-regular fa-tag"></i> <select
                                    name="subject" id="subject" class="form-select nice-select">
                                    <option value="" disabled="disabled" selected="selected" hidden>Select</option>
                                    <option value="Electrical System">Electrical System</option>
                                    <option value="Auto Car Repair">Auto Car Repair</option>
                                    <option value="Engine Diagnostics">Engine Diagnostics</option>
                                    <option value="Car & Engine Clean">Car & Engine Clean</option>
                                </select></div>
                            <div class="form-group col-12"><i class="fal fa-comment"></i> <textarea name="message"
                                    id="message" cols="30" rows="3" class="form-control"
                                    placeholder="Message"></textarea></div>
                            <div class="form-btn col-12"><button class="th-btn fw-btn">Send Messages<i
                                        class="fa-solid fa-arrow-right ms-2"></i></button></div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>


<div class="faq-sec overflow-hidden space" data-bg-src="assets/img/bg/faq_bg_1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <form action="https://html.themeholy.com/rasm/demo/mail.php" method="POST"
                    class="quote-form ajax-contact">
                    <div class="title-area mb-40"><span class="sub-title text-white">Contate-nos
                        <img
                                src="assets/img/theme-img/title_right2.svg" alt=""></span>
                        <h3 class="sec-title text-white">Precisa fazer uma consulta</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6"><input type="text" class="form-control" name="name" id="name"
                                placeholder="Your Name"> <i class="fal fa-user"></i></div>
                        <div class="form-group col-md-6"><input type="email" class="form-control" name="email"
                                id="email" placeholder="Your Email"> <i class="fal fa-envelope"></i></div>
                        <div class="form-group col-md-6"><input type="tel" class="form-control" name="number"
                                id="number" placeholder="Phone Number"> <i class="fal fa-phone"></i></div>
                        <div class="form-group col-md-6"><select name="subject" id="subject"
                                class="form-select nice-select">
                                <option value="" disabled="disabled" selected="selected" hidden>Select Subject
                                </option>
                                <option value="Engine Diagnostics">Spa & Massage</option>
                                <option value="Facial & Massage">Facial & Massage</option>
                                <option value="Engine Diagnostics">Head Massage</option>
                                <option value="Sports Massage">Sports Massage</option>
                                <option value="Stone Massage">Stone Massage</option>
                            </select></div>
                        <div class="form-group col-12"><textarea name="message" id="message" cols="30" rows="3"
                                class="form-control" placeholder="Write message...."></textarea> <i
                                class="fal fa-comment"></i></div>
                        <div class="form-btn col-12"><button class="th-btn style4">Send Messages<i
                                    class="fa-solid fa-arrow-right ms-2"></i></button></div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
            <div class="col-xl-6">
                <div class="ps-xl-4">
                    <div class="title-area mb-40"><span class="sub-title">Qualquer pergunta frequente<img
                                src="assets/img/theme-img/title_right.svg" alt=""></span>
                        <h2 class="sec-title">Revele sua verdadeira beleza em nosso salão</h2>
                    </div>
                    <div class="accordion-area accordion" id="faqAccordion">
                        <div class="accordion-card active">
                            <div class="accordion-header" id="collapse-item-1"><button class="accordion-button"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1"
                                    aria-expanded="true" aria-controls="collapse-1">How to experience the magic of
                                    internet?</button></div>
                            <div id="collapse-1" class="accordion-collapse collapse show"
                                aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">During these consultations, our beauty professionals take
                                        the time to understand your preferences, concerns, and skincare or haircare
                                        goals. Based on this information, they create customized beauty solutions
                                        that cater to your specific requirements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-2"><button
                                    class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">How to
                                    watch online movies?</button></div>
                            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="collapse-item-2"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">During these consultations, our beauty professionals take
                                        the time to understand your preferences, concerns, and skincare or haircare
                                        goals. Based on this information, they create customized beauty solutions
                                        that cater to your specific requirements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-3"><button
                                    class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">How to
                                    connect your phone with wifi?</button></div>
                            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="collapse-item-3"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">During these consultations, our beauty professionals take
                                        the time to understand your preferences, concerns, and skincare or haircare
                                        goals. Based on this information, they create customized beauty solutions
                                        that cater to your specific requirements.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-card">
                            <div class="accordion-header" id="collapse-item-4"><button
                                    class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">How to
                                    watch online movies?</button></div>
                            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="collapse-item-4"
                                data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">During these consultations, our beauty professionals take
                                        the time to understand your preferences, concerns, and skincare or haircare
                                        goals. Based on this information, they create customized beauty solutions
                                        that cater to your specific requirements.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="testi-area2 bg-top-center overflow-hidden space" data-bg-src="assets/img/bg/testi_bg_1.jpg">
    <div class="container">
        <div class="row">
            <div class="title-area text-center "><span class="sub-title style2">Depoimentos</span> <img
                    src="assets/img/theme-img/title_shape_1.svg" alt="">
                <h2 class="sec-title">Nosso feedback do cliente</h2>
            </div>
        </div>
        <div class="row slider-shadow th-carousel" data-slide-show="2" data-lg-slide-show="2" data-sm-slide-show="1"
            data-xs-slide-show="1">
            <div class="col-md-6 col-lg-4">
                <div class="testi-grid style2">
                    <div class="testi-grid_img"><img src="assets/img/testimonial/testi_4_1.jpg" alt=""></div>
                    <div class="testi-grid_content">
                        <div class="star-icon"><a href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a></div>
                        <p class="testi-grid_text">Our beauty salon offers a wide range of services to cater to your
                            beauty needs from head to toe. Treat your tresses to a stylish haircut, color, or
                            highlights that perfectly complement your features your skin with our customized
                            facials.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h5 class="testi-grid_name">Angelina Margret</h5>
                                <p class="testi-grid_desig">Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-quote"><img src="assets/img/shape/quote_5.png" alt=""></div>
                    <div class="testi-shape1"><img src="assets/img/shape/leaf_2.svg" alt=""></div>
                    <div class="testi-shape2"><img src="assets/img/shape/flower_1_6.svg" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="testi-grid style2">
                    <div class="testi-grid_img"><img src="assets/img/testimonial/testi_4_2.jpg" alt=""></div>
                    <div class="testi-grid_content">
                        <div class="star-icon"><a href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a></div>
                        <p class="testi-grid_text">A beauty salon is a business that provides various cosmetic and
                            personal care services to enhance the appearance and well-being of its clients. These
                            salons offer a wide range of services related to hair, skin, beauty treatments.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h5 class="testi-grid_name">Senjuti das</h5>
                                <p class="testi-grid_desig">Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-quote"><img src="assets/img/shape/quote_5.png" alt=""></div>
                    <div class="testi-shape1"><img src="assets/img/shape/leaf_2.svg" alt=""></div>
                    <div class="testi-shape2"><img src="assets/img/shape/flower_1_6.svg" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="testi-grid style2">
                    <div class="testi-grid_img"><img src="assets/img/testimonial/testi_4_3.jpg" alt=""></div>
                    <div class="testi-grid_content">
                        <div class="star-icon"><a href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a> <a
                                href="home-beauty-salon.html#"><i class="fa-solid fa-star"></i></a></div>
                        <p class="testi-grid_text">Beauty salons are typically staffed by trained and licensed
                            professionals such as hair stylists, estheticians, nail technicians, and makeup artists.
                            They use a variety of beauty products and tools to provide high-quality services.</p>
                        <div class="testi-grid_profile">
                            <div class="media-body">
                                <h5 class="testi-grid_name">Jenifer Lopez</h5>
                                <p class="testi-grid_desig">Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="testi-quote"><img src="assets/img/shape/quote_5.png" alt=""></div>
                    <div class="testi-shape1"><img src="assets/img/shape/leaf_2.svg" alt=""></div>
                    <div class="testi-shape2"><img src="assets/img/shape/flower_1_6.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup movingX d-none d-xl-block" data-top="0%" data-left="0%"><img
            src="assets/img/shape/leaves_4.png" alt="shape"></div>
</section>
<div class="sidebar-gallery-area style2" id="gallery-sec">
    <div class="container-fluid">
        <div class="row th-carousel" id="gallerySlide1" data-slide-show="8" data-xl-slide-show="6"
            data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2"
            data-autoplay="false">
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_1.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_1.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_2.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_2.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_3.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_3.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_4.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_4.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_5.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_5.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_6.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_6.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_7.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_7.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
            <div class="gallery-thumb"><img src="assets/img/update_7/widget/gallery_1_8.jpg" alt="Gallery Image"> <a
                    href="assets/img/update_7/widget/gallery_1_8.jpg" class="gallery-btn popup-image"><i
                        class="fab fa-instagram"></i></a></div>
        </div>
    </div>
</div>
<!--  -->