<app-header [hidden]="global.activateRoute=='profile' "></app-header>
    <app-home [hidden]="global.activateRoute!='home'"></app-home>
    <app-chat [hidden]="global.activateRoute!='chat'"></app-chat>
    <app-login [hidden]="global.activateRoute!='login'"></app-login>
    <app-booking [hidden]="global.activateRoute!='booking'"></app-booking>
    <app-about [hidden]="global.activateRoute!='about'"></app-about>
    <app-profile [hidden]="global.activateRoute!='profile'"></app-profile>
    <app-detail-service [hidden]="global.activateRoute!='detail-service'"></app-detail-service>

<app-footer></app-footer>

